*.json5
/node/node
/cli-client/cli-client
/echo/echo
/coordinator/coordinator
/webrtc-forward
/rtc-bridge

# client build output
/client/node_modules/
/coordinator/static/rtc-bridge.js
/coordinator/static/rtc-bridge.js.map
