*.json5
/node/rtc-mesh
/cli-client/cli-client
/echo/echo
/coordinator/coordinator
/webrtc-forward
/rtc-mesh

# client build output
/client/node_modules/
/coordinator/static/rtc-mesh.js
/coordinator/static/rtc-mesh.js.map
